* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    min-width: 500px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

#display {
    min-height: 200px;
}

.collection-example {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

nav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    
}

nav a {
    border: 1px solid black;
    text-align: center;
}